<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Display</title>
    <%- include('../../partials/link.ejs') %>
    <style>
        /* Styles for the loader */
        #loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
        #loader img {
            width: 100px; /* Adjust the size as needed */
            height: 100px; /* Adjust the size as needed */
        }
        body{
            font-family: 'Times New Roman', Times, serif;
        }
        .custom-toast {
          background-color: #4CAF50;
          color: white;
          padding: 16px;
          border-radius: 8px;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          margin-top: 50px;
        }
    </style>
</head>
<body style="margin-top: 100px;">
    <div id="loader">
        <img src="Spinner.gif" alt="Loading...">
    </div>
    <%- include('../../partials/navbar.ejs') %>

<div class="container mt-5">
  <div id="productCards" class="row"></div>
  <nav aria-label="Page navigation">
    <ul id="pagination" class="pagination"></ul>
  </nav>
</div>

<script>
  //===============//===============//===============//===============//
  
  window.addEventListener('load', function() {
    setTimeout(function() {
        document.getElementById('loader').style.display = 'none';
    }, 2000);
  });

  //===============//===============//===============//===============//

  async function fetchProducts() {
    try {

        const token = localStorage.getItem('token');

        const response = await fetch('/getproduct', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            });
        const data = await response.json();
        return data;
    } catch (error) {
      console.error('Error fetching products:', error);
      return [];
    }
  }

  // Function to display products using Bootstrap cards
  async function displayProducts(products) {
    const productCards = document.getElementById('productCards');
    productCards.innerHTML = '';

    const token = localStorage.getItem('token');

    const resProductCheck = await fetch("/getcartitem",{
      method:"GET",
      headers:{
        "Content-Type":"application/json",
        "Authorization":`Bearer ${token}`
      }
    })

    const resProductCheckJSON = await resProductCheck.json();

    const ProductsID = [];

    resProductCheckJSON.data.map((item)=>{
      ProductsID.push(item.productId);
    })

    let cartId;

    products.forEach(product => {
      let card = `
        <div class="col-md-3 mb-4">
          <div class="card shadow-lg">
            <img src="${product.product_picture}" class="card-img-top" alt="${product.productName}" height="200px" width="169px">
            <div class="card-body">
                <h5 class="card-title border border-light bg-light text-center">${product.productName}</h5>
                <p class="card-text">Discount: ${product.discount}%</p>
                <p class="card-text"><b>Price:</b> <del>${product.price}</del>&nbsp;&nbsp;<ins>${product.price - (product.price * product.discount)/100}/-</ins></p>
                <p class="card-text">Available Quantity: <span class='text-danger'>${product.quantity}</span></p>
                <div class="d-grid gap-2">
                `;

                    if(ProductsID.includes(product._id)){

                      resProductCheckJSON.data.map((item)=>{
                        if(item.productId === product._id){
                          cartId = item._id;
                        }
                      })

                      card += `
                      <div id='${product._id}'>
                      <button onclick='removeToCart(${JSON.stringify({buttonId:product._id,cartId:cartId,item:product})})' class='btn btn-warning' style='width:100%'>Remove from cart</button>
                      </div>`;
                    }else{
                      card +=
                      `<div id='${product._id}'>
                        <button class="btn btn-outline-success" style='width:100%' onclick='addToCart(${JSON.stringify(product)})' type="button">Add to cart</button>
                      </div>
                      `
                    }
                   card += `<div>
                      <button class="btn btn-primary mt-2" style='width:100%' type="button">Buy Now</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      `;
      productCards.innerHTML += card;
    });
  }

  async function addToCart(item){
    const formData = new FormData();
    formData.append('productName',item.productName);
    formData.append('categoryName',item.categoryName);
    formData.append('price',item.price - (item.price * item.discount)/100);
    formData.append('quantity',1);
    formData.append('subtotal',item.price - (item.price * item.discount)/100);
    formData.append('product_picture',item.product_picture);
    formData.append('productId',item._id);

    const token = localStorage.getItem('token');

    const response = await fetch('/addcart', {
        method: 'POST',
        headers: {
            'Authorization': `Bearer ${token}`
        },
        body:formData
    });

    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    const data = await response.json();

    if(data.success){
      $("#numberCart").text(data.numberCart);
      $(`#${item._id}`).html('');
      const cartId = data.cartId;
      $(`#${item._id}`).html(`<button onclick='removeToCart(${JSON.stringify({buttonId:item._id,cartId:cartId,item:item})})' class='btn btn-warning' style='width:100%'>Remove from cart</button>`);
      
      Toastify({
        text: `${item.productName} added to cart!`,
        duration: 2000,
        gravity: "top",
        position: 'right',
        className: "custom-toast",
        stopOnFocus: true
      }).showToast();
    }
  }

  async function removeToCart(item){

    const token = localStorage.getItem('token');

    const resRemoveCart = await fetch(`/removecart?cartId=${item.cartId}`,{
      method:'DELETE',
      headers: {
        'Authorization': `Bearer ${token}`
      },
    })

    const resRemoveCartJson = await resRemoveCart.json();

    if(resRemoveCartJson.success){
      
      $("#numberCart").text(resRemoveCartJson.numberCart);

      Toastify({
        text: `${item.item.productName} removed from cart!`,
        duration: 2000,
        gravity: "top",
        position: 'right',
        className: "custom-toast",
        stopOnFocus: true
      }).showToast();

      $(`#${item.buttonId}`).html('');
      $(`#${item.buttonId}`).html(`<button class="btn btn-outline-success" style='width:100%' onclick='addToCart(${JSON.stringify(item.item)})' type="button">Add to cart</button>`);
    }

  }

  // Function to handle pagination
  
  function handlePagination(products, currentPage = 1, itemsPerPage = 8) {
    const paginationElement = document.getElementById('pagination');
    paginationElement.innerHTML = '';

    const totalPages = Math.ceil(products.length / itemsPerPage);

    for (let i = 1; i <= totalPages; i++) {
      const li = document.createElement('li');
      li.classList.add('page-item');
      const link = document.createElement('a');
      link.classList.add('page-link');
      link.href = '#';
      link.textContent = i;
      if (i === currentPage) {
        li.classList.add('active');
      }
      link.addEventListener('click', () => {
        handlePagination(products, i);
      });
      li.appendChild(link);
      paginationElement.appendChild(li);
    }

    const startIndex = (currentPage - 1) * itemsPerPage;
    const endIndex = Math.min(startIndex + itemsPerPage, products.length);
    const displayedProducts = products.slice(startIndex, endIndex);
    displayProducts(displayedProducts);
  }

  // Initial function to fetch and display products
  async function init() {
    const products = await fetchProducts();
    handlePagination(products.data);
  }

  init();
</script>

</body>
</html>