<html>
  <%- include('../../partials/admin_navbar.ejs') %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <!-- Model  for add category  -->
  <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="Name" class="form-label">Category name</label>
                <input type="text" class="form-control" id="categoryname" onchange="validateName()" onkeypress="validateName()" placeholder="Enter category  name">
                <div id="nameError" class="text-danger"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="sent" onclick="addCategory(event)">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End of add category Model -->

  <!-- Model  for view category  -->
  <div class="modal fade" id="viewCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div id="displayCategory">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- End of view category Model -->


  <!-- model of view product -->

  <div class="modal fade" id="viewProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div id="displaySingleProduct">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end of view product model -->

  <!-- model for the display product -->

  <div class="modal fade" id="addproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName" onkeydown="validateProductName()" onkeypress="validateProductName()" onchange="validateProductName()" onblur="validateProductName()" name="productName" required>
            <div id="productNameFeedback" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Select Category Name</label>
            <select class="form-control" id="selectCategory">

            </select>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" onkeydown="restrictInputPrice(event)" onkeypress="restrictInputPrice(event)" onchange="restrictInputPrice(event)" onblur="restrictInputPrice(event)" required>
            <div id="priceFeedback" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" onkeydown="restrictInputQty(event)" onkeypress="restrictInputQty(event)" onchange="restrictInputQty(event)" onblur="restrictInputQty(event)" required>
            <div id="qtyFeedback" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input type="text" class="form-control" id="discount" name="discount" maxlength="3" onkeypress="restrictInputDiscount(event)" onblur="restrictInputDiscount(event)" onkeydown="restrictInputDiscount(event)" onblur="restrictInputDiscount(event)"/>
            <div id="discountFeedback" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="product_picture" class="form-label">Product Picture</label>
            <input type="file" class="form-control" id="product_picture" name="product_picture">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" onclick="addProduct(event)">Add product</button>
      </div>
    </div>
  </div>
  </div>
  <script>

    function validateProductName(){
      const value = document.getElementById('productName').value;

      if(value.trim() == ''){
        document.getElementById('productNameFeedback').innerText = 'Product name is required.';
        document.getElementById('productName').style.border = "1px solid red";
      }else if(!/^[a-zA-Z0-9\s]+$/.test(value)){
        document.getElementById('productNameFeedback').innerText = 'Product name can only contain letters, numbers, and spaces.';
        document.getElementById('productName').style.border = "1px solid red";
      }else{
        document.getElementById('productNameFeedback').innerText = '';
        document.getElementById('productName').style.border = "";
      }
      
    }


    function restrictInputPrice(event) {
    const keyPressed = event.key;
    const currentValue = event.target.value;

    if (!/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight" &&
        keyPressed !== ".") {
        event.preventDefault();
    }

    if (keyPressed === "." && currentValue.includes(".")) {
        event.preventDefault();
    }

    if(currentValue == ''){
      document.getElementById('price').style.border = "1px solid red";
      document.getElementById('priceFeedback').innerText = "price is required.";
    }else if(currentValue < 0){
      document.getElementById('price').style.border = "1px solid red";
      document.getElementById('priceFeedback').innerText = "price must be greater than 0.";
    }
    else{
      document.getElementById('price').style.border = "";
      document.getElementById('priceFeedback').innerText = "";
    }
}


    function restrictInputDiscount(event){
      const keyPressed = event.key;

      if (
        !/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight"
      ) {
        event.preventDefault(); 
      }

      const value = document.getElementById('discount').value;

      if(value == ''){
        document.getElementById('discount').style.border = "1px solid red";
        document.getElementById('discountFeedback').innerText = "discount is required.";
      }
      else if(!(value >= 0 && value <= 100 )){
        document.getElementById('discount').style.border = "1px solid red";
        document.getElementById('discountFeedback').innerText = "you enter discount between 0 to 100.";
      }else{
        document.getElementById('discount').style.border = "";
        document.getElementById('discountFeedback').innerText = "";
      }


    }

    function restrictInputQty(event) {
      const keyPressed = event.key;

      if (
        !/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight"
      ) {
        event.preventDefault(); 
      }
      const qty = document.getElementById('quantity').value;
  
      if(qty.trim() == ''){
        document.getElementById('quantity').style.border = "1px solid red";
        document.getElementById('qtyFeedback').innerText = 'Quantity is required';
      }else{
        document.getElementById('quantity').style.border = "";
        document.getElementById('qtyFeedback').innerText = '';
      }
    }

  
  </script>

  <div class="modal fade" id="editproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <center><img src="" alt="" id="productpicture1" class="border shadow-sm" height="70px" width="100px"/></center><hr/>
          <input type="hidden" name="pid" id="productId"/>

          <!-- ------------------------------------------------------------------- -->

          <div class="mb-3">
            <label for="productName1" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName1" onkeydown="validateProductName1()" onkeypress="validateProductName1()" onchange="validateProductName1()" onblur="validateProductName1()" name="productName1" required>
            <div id="productNameFeedback1" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Select Category Name</label>
            <select class="form-control" id="selectCategory1">

            </select>
          </div>
          <div class="mb-3">
            <label for="price1" class="form-label">Price</label>
            <input type="text" class="form-control" id="price1" name="price1" onkeydown="restrictInputPrice1(event)" onkeypress="restrictInputPrice1(event)" onchange="restrictInputPrice1(event)" onblur="restrictInputPrice1(event)" required>
            <div id="priceFeedback1" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity1" name="quantity1" onkeydown="restrictInputQty1(event)" onkeypress="restrictInputQty1(event)" onchange="restrictInputQty1(event)" onblur="restrictInputQty1(event)" required>
            <div id="qtyFeedback1" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="discount1" class="form-label">Discount</label>
            <input type="text" class="form-control" id="discount1" name="discount1" maxlength="3" onkeypress="restrictInputDiscount1(event)" onblur="restrictInputDiscount1(event)" onkeydown="restrictInputDiscount1(event)" onblur="restrictInputDiscount1(event)"/>
            <div id="discountFeedback1" style="color: red;"></div>
          </div>
          <div class="mb-3">
            <label for="product_picture" class="form-label">Product Picture</label>
            <input type="file" class="form-control" id="product_picture1" name="product_picture1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" onclick="handleEditProduct()">Apply changes</button>
      </div>
    </div>
  </div>
  </div>

  <script>
    function validateProductName1(){
      const value = document.getElementById('productName1').value;

      if(value.trim() == ''){
        document.getElementById('productNameFeedback1').innerText = 'Product name is required.';
        document.getElementById('productName1').style.border = "1px solid red";
      }else if(!/^[a-zA-Z0-9\s]+$/.test(value)){
        document.getElementById('productNameFeedback1').innerText = 'Product name can only contain letters, numbers, and spaces.';
        document.getElementById('productName1').style.border = "1px solid red";
      }else{
        document.getElementById('productNameFeedback1').innerText = '';
        document.getElementById('productName1').style.border = "";
      }
      
    }

    function restrictInputPrice1(event) {
    const keyPressed = event.key;
    const currentValue = event.target.value;

    if (!/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight" &&
        keyPressed !== ".") {
        event.preventDefault();
    }

    if (keyPressed === "." && currentValue.includes(".")) {
        event.preventDefault();
    }

    if(currentValue == ''){
      document.getElementById('price1').style.border = "1px solid red";
      document.getElementById('priceFeedback1').innerText = "price is required.";
    }else if(currentValue < 0){
      document.getElementById('price1').style.border = "1px solid red";
      document.getElementById('priceFeedback1').innerText = "price must be greater than 0.";
    }
    else{
      document.getElementById('price1').style.border = "";
      document.getElementById('priceFeedback1').innerText = "";
    }
}


    function restrictInputDiscount1(event){
      const keyPressed = event.key;

      if (
        !/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight"
      ) {
        event.preventDefault(); 
      }

      const value = document.getElementById('discount1').value;

      if(value == ''){
        document.getElementById('discount1').style.border = "1px solid red";
        document.getElementById('discountFeedback1').innerText = "discount is required.";
      }
      else if(!(value >= 0 && value <= 100 )){
        document.getElementById('discount1').style.border = "1px solid red";
        document.getElementById('discountFeedback1').innerText = "you enter discount between 0 to 100.";
      }else{
        document.getElementById('discount1').style.border = "";
        document.getElementById('discountFeedback1').innerText = "";
      }


    }

    function restrictInputQty1(event) {
      const keyPressed = event.key;

      if (
        !/^\d$/.test(keyPressed) &&
        keyPressed !== "Backspace" &&
        keyPressed !== "ArrowLeft" &&
        keyPressed !== "ArrowRight"
      ) {
        event.preventDefault(); 
      }
      const qty = document.getElementById('quantity1').value;
  
      if(qty.trim() == ''){
        document.getElementById('quantity1').style.border = "1px solid red";
        document.getElementById('qtyFeedback1').innerText = 'Quantity is required';
      }else{
        document.getElementById('quantity1').style.border = "";
        document.getElementById('qtyFeedback1').innerText = '';
      }
    }

 
  </script>

  <!-- end model of display product -->

  <div class="modal fade" id="removedProducts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Revert Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div id="displayremovedProducts">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Product</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-md-12">
            <button class='btn text-light float-start' style="background-color:#0e2238;" data-bs-toggle="modal" data-bs-target="#addCategory">+ Add Category</button>
            <button class='ms-2 btn text-light float-start' style="background-color:#066e31;" data-bs-toggle="modal" data-bs-target="#viewCategory"><i class="bi bi-eye-fill"></i> View Category</button>
            <button class='ms-2  btn text-light float-end' style="background-color:#066e31;" data-bs-toggle="modal" data-bs-target="#removedProducts">Revert products</button>
            <button class='btn text-light float-end' style="background-color:#0e2238;" data-bs-toggle="modal" data-bs-target="#addproduct">+ Add Product</button>
            &nbsp;&nbsp;
        </div>
        <div class="col-md-12 mt-3" id="root">

        </div>
        <script>

            $(document).ready(async ()=>{
              const data = await getProducts();
              
              if(data){
                $('#producttable').DataTable({
                  columnDefs: [
                      { targets: [6,7,8,9], orderable: false }
                  ]
                });
              }
              
            })

            async function getProducts(){
              const resProduct = await fetch("/getproduct",{
                method: 'GET', // or 'POST', 'PUT', etc. depending on your endpoint
                headers: {
                  'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
              })

              const products = await resProduct.json();

              let html = `<table class='table mt-5' id='producttable'><thead><th>No.</th><th>Product Name</th><th>Category Name</th><th>Price</th><th>Quantity</th><th>Discount</th><th>Picture</th><th>View</th><th>Edit</th><th>Delete</th></thead><tbody>`;

              let no = 1;
              
              products.data.map((item)=>{
                  html += `<tr>
                    <td>${no++}</td>
                    <td>${item.productName}</td>
                    <td>${item.categoryName}</td>
                    <td>${item.price}</td>
                    <td>${item.quantity}</td>
                    <td>${item.discount}</td>
                    <td><img src='${item.product_picture}' height='50px' width='50px'/></td>
                    <td>
                      <button class='btn btn-dark' onclick='viewProducts(${JSON.stringify(item)})' data-bs-toggle="modal" data-bs-target="#viewProduct"><i class="bi bi-eye-fill"></i></button>
                    </td>
                    <td class=''>
                    <button class='btn btn-dark' onclick='editProducts(${JSON.stringify(item)})' data-bs-toggle="modal" data-bs-target="#editproduct"><i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td class=''>
                    <button class='btn btn-dark' onclick="deleteProduct('${item._id}')"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                    </tr>`;
              })

              html += `</tbody></thead></table>`;

              document.getElementById('root').innerHTML = html;

              return true;
              
            }

            function viewProducts(data) {

                let html = `
                  <center>
                    <img src='${data.product_picture}' height="100px" width="150px"/>
                  </center>
                  <hr/>
                  <div>
                    <p class='border bg-primary text-light rounded-2 p-1'>Product Name :-   <b>${data.productName}</b></p>
                    <p class='border bg-primary text-light rounded-2 p-1'>category Name :-   <b>${data.categoryName}</b></p>
                    <p class='border bg-primary text-light rounded-2 p-1'>Discount :-   <b>${data.discount}%</b></p>
                    <p class='border bg-primary text-light rounded-2 p-1'>Product effective price :-  <strike>${data.price}</strike> <b>₹${(data.price-((data.price * data.discount)/100)).toFixed(2)}</b></p>
                    <p class='border bg-primary text-light rounded-2 p-1'>Available Quantity :-   <b>${data.quantity}</b></p>
                  </div>
                
                `

                document.getElementById('displaySingleProduct').innerHTML = html;

            }

            async function deleteProduct(id){

              Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
              }).then(async (result) => {
                if (result.isConfirmed) {

                  const formData = new FormData();
                  formData.append("productId",id);
                  formData.append("isDelete",true);
    
                  const token = localStorage.getItem('token');
    
                  try {
                    const resUpdateProduct = await fetch("/editproduct",{
                      method:"PATCH",
                      headers:{
                        "Authorization":`Bearer ${token}`
                      },
                      body:formData
                    })
    
                    const resUpdateProductJSON = await resUpdateProduct.json();
    
                    if(resUpdateProductJSON.success){
                      Swal.fire({
                        title: "Great !",
                        text: "Product is removed succesfully!",
                        icon: "success"
                      }).then((result)=>{
                        if (result.isConfirmed) {
                          location.reload();
                        }
                      })
                    }
                  } catch (error) {
                    console.error("Error from updateProduct >>>",error);
                  }

                }
              })
            }

            function editProducts(item){
              document.getElementById('productId').value = item._id;
              document.getElementById('productName1').value = item.productName;
              document.getElementById('price1').value = item.price;
              document.getElementById('quantity1').value = item.quantity;
              document.getElementById('discount1').value = item.discount;
              document.getElementById('selectCategory1').value = item.categoryName;
              document.getElementById('productpicture1').src = item.product_picture;
              
            }

            async function handleEditProduct(){
              const id = document.getElementById('productId').value;
              const productName =  document.getElementById('productName1').value;
              const price = document.getElementById('price1').value;
              const quantity = document.getElementById('quantity1').value;
              const discount = document.getElementById('discount1').value;
              const categoryName = document.getElementById('selectCategory1').value;

              const product_picture1 = document.getElementById('product_picture1');

              const file = product_picture1.files[0];

              const formData = new FormData();

              formData.append('productId',id);
              formData.append('productName',productName);
              formData.append('price',price);
              formData.append('quantity',quantity);
              formData.append('discount',discount);
              formData.append('categoryName',categoryName);

              if(!(file === undefined)){
                formData.append('product_picture',file);
              }

              const token = localStorage.getItem('token');

              try {
                const resUpdateProduct = await fetch("/editproduct",{
                  method:"PATCH",
                  headers:{
                    "Authorization":`Bearer ${token}`
                  },
                  body:formData
                })

                const resUpdateProductJSON = await resUpdateProduct.json();

                if(resUpdateProductJSON.success){
                  Swal.fire({
                    title: "Great !",
                    text: "product is updated succesfully!",
                    icon: "success"
                  }).then((result)=>{
                    if (result.isConfirmed) {
                      location.reload();
                    }
                  })
                }
              } catch (error) {
                console.error("Error from updateProduct >>>",error);
              }

            }

            displayremovedProducts();

            async function displayremovedProducts(){
              const R_productRes = await fetch("/deletedproduct",{
                method:"GET"
              })

              const product = await R_productRes.json();

              if(product.success){
                 let html = `<div class="table-responsive"><table class='table'><thead><th>No.</th><th>Product Name</th><th>Category Name</th><th>Price</th><th>Quantity</th><th>Discount</th><th>Picture</th><th>Revert</th></thead><tbody>`;
                  let no = 1;
                 product.data.map((item)=>{
                  html += `<tr>
                    <td>${no++}</td>
                    <td>${item.productName}</td>
                    <td>${item.categoryName}</td>
                    <td>${item.price}</td>
                    <td>${item.quantity}</td>
                    <td>${item.discount}</td>
                    <td><img src='${item.product_picture}' height='50px' width='50px'/></td>
                    <td><button class='btn btn-success' onclick="revertProduct('${item._id}')">Revert</button></td>
                    </tr>
                    `
                  });

                    html += `</tbody></thead></table></div>`;

                    document.getElementById('displayremovedProducts').innerHTML = html;

              }
            }

            function revertProduct(id){

              Swal.fire({
                text: "Are you sure to revert this product!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, revert it!"
              }).then(async (result) => {
                if (result.isConfirmed) {
                  let revertProduct = await fetch(`/revertproduct?pid=${id}`,{
                    method:'get'
                  });

                  const revertProductJSON = await revertProduct.json();

                  if(revertProductJSON.success){
                    Swal.fire({
                        title: "Great !",
                        text: "Product is revert succesfully!",
                        icon: "success"
                      }).then((result)=>{
                        if (result.isConfirmed) {
                          location.reload();
                        }
                      })
                  }
                }
              })

              

            }

        </script>
      </div>
    </section>

  </main><!-- End #main -->
  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <div>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  </div>

  <!-- Template Main JS File -->

  <script>

    // add product 

    async function addProduct(event){
      event.preventDefault();

      const productName = document.getElementById("productName").value;
      const categoryName = document.getElementById("selectCategory").value;
      const price = document.getElementById('price').value;
      const quantity = document.getElementById('quantity').value;
      const discount = document.getElementById('discount').value;
      const file = document.getElementById('product_picture');
      const product_picture = file.files[0];

      if(productName.trim() == '' || categoryName == '' || price == '' || quantity == '' || discount == '' || file == ''){
        return Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Please fill all the fields',
        })
      }

      const allowedTypes = ['image/png', 'image/jpeg', 'image/jpg'];
      if (!allowedTypes.includes(product_picture.type)) {
          return Swal.fire({
              title: "Oops...!",
              text: "Only PNG, JPG, and JPEG file formats are allowed!",
              icon: "error"
          });
      }

      const formData = new FormData();
      formData.append('productName',productName);
      formData.append('categoryName',categoryName);
      formData.append('price',price);
      formData.append('quantity',quantity);
      formData.append('discount',discount);
      formData.append('product_picture',product_picture);


      const resOfAddProduct = await fetch('/addproduct',{
        method:'POST',
        body:formData
      })

      const resOfAddProductData = await resOfAddProduct.json();

      if(resOfAddProductData.success){
        return Swal.fire({
          icon: 'success',
          title: 'Product Added Successfully',
          showConfirmButton: true,
        }).then(()=>{
          location.reload();
        })
      }

    }


    // category functions

    displayCategory();

    async function displayCategory(){
        const categoryRes = await fetch("/getcategory",{
          method:"GET"
        })

        const categoryList = await categoryRes.json();
        
        const categoryData = categoryList.data;
        
        let categoryHTML = `<table class='table'><thead><th>No</th><th>Category Name</th><th>Update</th><th>Delete</th></thead><tbody>`;
        let categoryNo = 1;

        let selectCategory = ``

        categoryData.map((item)=>{

          selectCategory += `<option value='${item.categoryName}'>${item.categoryName}</option>`;

          let updateCatgoryData = {
            id:item._id,
            categoryNo:categoryNo,
            categoryName:item.categoryName
          }

          categoryHTML += `<tr><td>${categoryNo}</td><td id='category${categoryNo}'>${item.categoryName}</td><td id='cateButton${categoryNo}' class='text-center'><i class="bi bi-pencil-square" onclick='updateCatgory(${JSON.stringify(updateCatgoryData)})'></i></td><td class='text-center' onclick='handleRemoveCategory(${JSON.stringify(item._id)})'><i class="bi bi-trash-fill"></i></td></tr>`;
          categoryNo++;
        })

        document.getElementById('selectCategory').innerHTML = selectCategory;
        document.getElementById('selectCategory1').innerHTML = selectCategory;

        categoryHTML += `</tbody></table>`;

        document.getElementById('displayCategory').innerHTML = categoryHTML;

    }

    function updateCatgory(item){
        
       const categoryNo =  item.categoryNo;
       const categoryName = item.categoryName;

      document.getElementById(`category${categoryNo}`).innerHTML = `<input type='text'  class='form-control' id='editCategory' value='${categoryName}'/><div id="nameError" class="text-danger"></div>`;

      document.getElementById(`cateButton${categoryNo}`).innerHTML = `<button class='btn btn-success' onclick='handleEditCategory(${JSON.stringify(item)})'><i class="bi bi-file-check-fill"></i></button>&nbsp;&nbsp;<button class='btn btn-warning' onclick='cancelEditCategory(${JSON.stringify(item)})'><i class="bi bi-file-excel"></i></button>`
    }

    function cancelEditCategory(item){
      document.getElementById(`cateButton${item.categoryNo}`).innerHTML = `<i class="bi bi-pencil-square" onclick='updateCatgory(${JSON.stringify(item)})'></i>`;
      document.getElementById(`category${item.categoryNo}`).innerHTML = item.categoryName;
    }

    async function handleEditCategory(item){
      const categoryNo = item.categoryNo;
      const categoryName = document.getElementById(`editCategory`).value;
      const id = item.id;

      const formData = new FormData();
      formData.append("categoryName",categoryName);
      formData.append("id",id);

      const resUpdateCategory = await fetch("/editcategory",{
        method:"POST",
        body:formData
      })

      const editCategory = await resUpdateCategory.json();

      if(editCategory.success){
        displayCategory();
      }else{
        return Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'category is already exists!',
        })
      }

    }

    async function handleRemoveCategory(id){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(async (result) => {
        if (result.isConfirmed) {
          const resDeleteCategory = await fetch(`/removecategory?id=${id}`,{
            method:"GET"
          })

          const resJsonRemoveCategory = await resDeleteCategory.json();

          if(resJsonRemoveCategory.success){
            displayCategory();
          }
        }
      });
    }

    function validateName() {
        const name = document.getElementById("categoryname").value;
        const nameError = document.getElementById("nameError");

        if (name === "") {
          nameError.innerHTML = "Name is Required.";
          document.getElementById('categoryname').style.border = "2px solid red";
        } else if (name.length < 2 || !/^[a-zA-Z\s]+$/.test(name)) {
          nameError.textContent =
            "Name must be at least 3 characters long and contain only letters.";
            document.getElementById("categoryname").style.border = "2px solid red";
        } else {
          nameError.textContent = "";
          document.getElementById("categoryname").style.border = "";
        }
    }
      
    async function addCategory(event){
      event.preventDefault();
      const name = document.getElementById('categoryname').value;
      if(!name){
        return Swal.fire({
          icon:"error",
          text:"Please enter category name"
        })
      }

      const formData = new FormData();
      formData.append("categoryName",name);

      const resOfAddCategory = await fetch("/addcategory",{
          method:"POST",
          body:formData
      })

      const AddCategoryJsonRespone = await resOfAddCategory.json();

      if(!AddCategoryJsonRespone.success){
        return Swal.fire({
          icon:"error",
          text:AddCategoryJsonRespone.message
        })
      }else{
        return Swal.fire({
          icon:"success",
          text:"Category is added successfully."
        }).then(()=>{
          location.reload();
        })
      }

    }
  
        
    </script>

</body>
</html>