<% if (token) { %>

    <html>
<%- include('../../partials/admin_navbar.ejs') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin Dashboard</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                        <h5 class="card-title">Total Users</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                            <h6 id="totalUser"></h6>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div class="card info-card customers-card">

                        <div class="card-body">
                        <h5 class="card-title">Total Products</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart4"></i>
                            </div>
                            <div class="ps-3">
                            <h6 id="totalproduct"></h6>
                            </div>
                        </div>

                        <script>
                            async function getTotalProducts() {
                                
                                const resOfgetproduct = await fetch("/getproduct",{
                                    method:"GET",
                                    headers:{
                                        "Authorization":`Bearer ${localStorage.getItem('token')}`
                                    }
                                });

                                const dataJSON = await resOfgetproduct.json();

                                $("#totalproduct").text(dataJSON.data.length)

                            }

                            getTotalProducts();
                        </script>

                        </div>
                    </div>
                    <div class="card info-card customers-card">

                        <div class="card-body">
                        <h5 class="card-title">Total Selling</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                            <h6 id="totalSell"></h6>
                            </div>
                        </div>
                        <script>
                            async function totalSelling() {
                                
                                const resOftotalselling = await fetch("/totalSelling",{
                                    method:"GET",
                                    headers:{
                                        "Authorization":`Bearer ${localStorage.getItem('token')}`
                                    }
                                });

                                const dataJSON = await resOftotalselling.json();

                                const indianRupee = formatToIndianCurrency((dataJSON.data[0].totalSellingAmount).toFixed(2))

                                $("#totalSell").text(indianRupee)

                            }
                            totalSelling();
                            
                            function formatToIndianCurrency(num) {
                                function numberWithCommas(x) {
                                    var parts = x.toString().split(".");
                                    parts[0] = parts[0].replace(/\B(?=(\d{2})+(?!\d))/g, ",");
                                    return parts.join(".");
                                }

                                // Convert the number to string and split into integer and decimal parts
                                let [integerPart, decimalPart] = num.toString().split(".");

                                // Format the integer part with Indian number system commas
                                let formattedIntegerPart = numberWithCommas(integerPart);

                                // Reattach the decimal part if it exists
                                let formattedNumber = decimalPart ? formattedIntegerPart + "." + decimalPart : formattedIntegerPart;

                                // Convert number to lakhs or crores
                                let value = parseFloat(num);
                                if (value >= 1e7) {
                                    // Convert to crores
                                    let croreValue = (value / 1e7).toFixed(2);
                                    return `${croreValue} crores`;
                                } else if (value >= 1e5) {
                                    // Convert to lakhs
                                    let lakhValue = (value / 1e5).toFixed(2);
                                    return `${lakhValue} lakhs`;
                                } else {
                                    return formattedNumber;
                                }
                            }
                        
                        </script>

                        </div>
                    </div>
                </div><!-- End Customers Card -->
                
            </div>
        </div>  
      
    
        </div>
    </section>

  </main><!-- End #main -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>
<script>
    displayUserTotal();
     async function displayUserTotal(){
        const token = localStorage.getItem("token");  
        try {
                const response = await fetch('/displayusers', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();

                document.getElementById('totalUser').innerText = data.length
        } catch (e) {
            console.log(e);
        }
     }
</script>
</html>

<% } else { %>

    <% res.redirect('/adminLogin'); %>

<% } %>