<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
    localStorage.clear();
    history.pushState(null, null, location.href);
    window.onpopstate = function(event) {
        history.go(1);
    };
    location.reload();
    window.location.href="/adminLogin";
</script>
</html>